
.container h2 {
    color: white;
    position: absolute;
    top: 300px;
    z-index: 3;
    text-align: center;
    font-size: 92px;
    overflow-x: hidden;
    font-weight: lighter;
}

.container p{
    position: relative;
    top: -160px;
    color: white;
    
}

.container sup{
    position: relative;
    left: 1px;
    font-size: 50px;
}

